name: Deploy React Frontend to GitHub Pages

on:
  push:
    branches: [ release ]
    paths:
      - 'devsolaris-frontend/**'
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install dependencies
        working-directory: devsolaris-frontend/
        run: npm install

      - name: Build React app
        working-directory: devsolaris-frontend/
        run: npm run build

      - name: Deploy to GitHub Pages
        working-directory: devsolaris-frontend/
        uses: peaceiris/actions-gh-pages@v6
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build
